<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<array/>
	<key>e</key>
	<array/>
	<key>i</key>
	<array/>
	<key>o</key>
	<array/>
	<key>u</key>
	<array/>
	<key>digraphs</key>
	<array/>
	<key>blends</key>
	<array/>
</dict>
</plist>
